{% extends "login.html" %}
    {% block adminLogin %}
    <!--Start User Login Component-->
        <!--
        This example requires updating your template:

        ```
        <html class="h-full bg-white dark:bg-gray-900">
        <body class="h-full">
        ```
        -->
        <div class="flex min-h-full">
        <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
            <div class="mx-auto w-full max-w-sm lg:w-96">
            <div>
                <img src="{{ url_for('static', filename= 'brand/ssldeploy-logo.svg') }}" alt="SSL Deploy" class="h-10 w-auto dark:hidden" />
                <img src="{{ url_for('static', filename= 'brand/ssldeploy-logo.svg') }}" alt="SSL Deploy" class="h-10 w-auto not-dark:hidden" />
                {% if brand %}
                    <h2 class="mt-8 text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-white">{{ brand.brandname }}<br>{{ title }}</h2>
                {% else %}
                    <h2 class="mt-8 text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-white">{{ title }}</h2>
                {% endif %}
                <p class="mt-2 text-sm/6 text-gray-500 dark:text-gray-400">
                Looking for the Self Service Login?
                <a href="/" class="anchorlink">Go to Self Service</a>
                </p>
            </div>

            <div class="mt-10">
                <div>
                <form method="POST" class="space-y-6">
                    <!--CSRF Token-->
                    {{ form.hidden_tag() }}
                    <!--END CSRF Token-->
                    <div>
                    <label for="{{ form.admin_login_username.id }}" class="block text-sm/6 font-medium text-gray-900 dark:text-gray-100">User Name</label>
                    <div class="mt-2">
                        {{ form.admin_login_username(size=32, class_="loginformfieldusername") }}
                    </div>
                    </div>

                    <div>
                    <label for="{{ form.admin_login_password.id }}" class="block text-sm/6 font-medium text-gray-900 dark:text-gray-100">Password</label>
                    <div class="mt-2">
                        {{ form.admin_login_password(size=32, class_="loginformfieldpassword") }}
                    </div>
                    </div>
                    <div>
                    <label for="{{ form.admin_login_realm.id }}" class="block text-sm/6 font-medium text-gray-900 dark:text-white">Realm</label>
                    <div class="mt-2 grid grid-cols-1">
                    <select id="{{ form.admin_login_realm.id }}" name="{{ form.admin_login_realm.name }}" class="loginformfieldrealm">
                    {% for value, label in form.admin_login_realm.choices %}
                    {% set disabled = value not in form.admin_login_realms_enabled %}
                        <option value="{{ value }}"
                        {% if form.admin_login_realm.data == value %}selected{% endif %}
                        {% if disabled %}disabled class="text-gray-400"{% endif %}>
                        {{ label }}{% if disabled %} (disabled){% endif %}
                        </option>
                    {% endfor %}
                    </select>
                    <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true" class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4 dark:text-gray-400">
                        <path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
                    </svg>
                    </div>
                    </div>

                    <div class="flex items-center justify-between">
                    <div class="flex gap-3">
                        <div class="flex h-6 shrink-0 items-center">
                        <div class="group grid size-4 grid-cols-1">
                            {{ form.admin_login_rememberme(class_="loginformfieldrememberme") }}
                            <svg viewBox="0 0 14 14" fill="none" class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25">
                            <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-checked:opacity-100" />
                            <path d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="opacity-0 group-has-indeterminate:opacity-100" />
                            </svg>
                        </div>
                        </div>
                        <label for="{{ form.admin_login_rememberme.id }}" class="block text-sm/6 text-gray-900 dark:text-gray-300">Remember me</label>
                    </div>

                    <div class="text-sm/6">
                        <a href="#" class="anchorlink">Forgot password?</a>
                    </div>
                    </div>

                    <div>
                        {{ form.admin_login_submit(class_="loginformfieldsubmit") }}
                    </div>
                </form>
                </div>

                <div class="mt-10">
                <div class="relative">
                    <div aria-hidden="true" class="absolute inset-0 flex items-center">
                    <div class="w-full border-t border-gray-200 dark:border-gray-700"></div>
                    </div>
                    <div class="relative flex justify-center text-sm/6 font-medium">
                    <span class="bg-white px-6 text-gray-300 dark:bg-gray-900 dark:text-gray-300">Coming Soon</span>
                    </div>
                </div>

                <div class="mt-6 grid grid-cols-2 gap-4">
                    <a href="" class="flex w-full items-center justify-center gap-3 rounded-md bg-gray-50 px-3 py-2 text-sm font-semibold text-gray-300 shadow-xs inset-ring inset-ring-gray-300 hover:bg-gray-50 focus-visible:inset-ring-transparent dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20 cursor-not-allowed">
                    <img src="{{ url_for('static', filename= 'icons/logo-google-disabled.svg') }}" alt="Google Logo" class="size-5 " />
                    <span class="text-sm/6 font-semibold">Google</span>
                    </a>

                    <a href="" class="flex w-full items-center justify-center gap-3 rounded-md bg-gray-50 px-3 py-2 text-sm font-semibold text-gray-300 shadow-xs inset-ring inset-ring-gray-300 hover:bg-gray-50 focus-visible:inset-ring-transparent dark:bg-white/10 dark:text-white dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20 cursor-not-allowed">
                    <img src="{{ url_for('static', filename= 'icons/logo-microsoft-disabled.svg') }}" alt="Microsoft Logo" class="size-5 " />
                    <span class="text-sm/6 font-semibold">Microsoft</span>
                    </a>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="relative hidden w-0 flex-1 lg:block">
            <img src="{{ url_for('static', filename= 'img/ssl-deploy-login-hero.webp') }}" alt="Image of Shield with Lock Logo on a Data Highway" class="absolute inset-0 size-full object-cover" />
        </div>
        </div>
    <!--END Admin Login Component-->
    {% endblock %}